@charset "utf-8";
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url("https://fonts.gstatic.com/s/raleway/v12/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("https://fonts.gstatic.com/s/raleway/v12/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/anonymouspro/v11/Zhfjj_gat3waL4JSju74ExEOS6Aq7hJAAidQNR3rgdU.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
h1, h2, h3 {
  font-family: "Raleway", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif !important;
  margin: 40px auto;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
html, body {
  height: 100vh;
  margin: 0;
}

.countdown > div {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid rgba(255,255,255,.5);
  padding: 0;
  display: inline-block;
  margin:30px 10px;
  text-align: center;
}

.countdown > div > span {
  font-size: 18px;
  margin: 0 auto;
}
.countdown > div > div {
  font-size: 70px;
  font-family: "Anonymous Pro";
}

#location a {
  color: rgba(255,255,255,1.0);
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Raleway", "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif !important;
}
#location a:hover {
  color: rgba(255,255,255,1.0);
  text-decoration: none;
}

.aqours {
  color: rgba(0,160,234,1.0);
  text-shadow: 1px 1px 0px rgba(0,100,180,1.0), 3px 3px 5px #fff, -3px 3px 5px #fff, -3px -3px 5px #fff, 3px -3px 5px #fff;
}
